{% extends app.request.isXmlHttpRequest ? 'AdminClientBundle::ajax.html.twig' : is_granted('IS_AUTHENTICATED_FULLY') ? 'AdminClientBundle::layout.html.twig' : 'AdminClientBundle::default.html.twig' %}

{% block body %}
  {% if form.vars.errors|length == 0 and app.request.method == 'POST' %}
    <script type="text/javascript">
      document.location.reload();
    </script>
  {% else %}
    {% if form.vars.value.id is not null %}
      <form id="edit-client-form" action="{{ path('chemistry_update', { id: form.vars.value.id }) }}" method="post" enctype="application/x-www-form-urlencoded"
    {% else %}
      <form id="edit-client-form" action="{{ path('chemistry_update') }}" method="post" enctype="application/x-www-form-urlencoded"
    {% endif %}
    class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Категория</label>

      <div class="col-sm-10">
        {{ form_widget(form.category) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Название</label>

      <div class="col-sm-10">
        {{ form_widget(form.name) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Описание</label>

      <div class="col-sm-10">
        {{ form_widget(form.description) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Дейст. вещество</label>

      <div class="col-sm-10">
        {{ form_widget(form.substance) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Объем</label>

      <div class="col-sm-10">
        {{ form_widget(form.volume) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Конц. препарата</label>

      <div class="col-sm-10">
        {{ form_widget(form.norm) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Вредители</label>

      <div class="col-sm-10">
        {{ form_widget(form.vermins) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Производит.</label>

      <div class="col-sm-10">
        {{ form_widget(form.manufacturers) }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Фото</label>

      <div class="col-sm-10">
        {{ form_widget(form.attachment) }}
      </div>
    </div>
    <div class="form-group hide">
      <label for="inputEmail3" class="col-sm-2 control-label">Фото</label>

      <div class="col-sm-10">
        {{ form_widget(form.attachment_data) }}
      </div>
    </div>
    <div class="form-group hide">
      <label for="inputEmail3" class="col-sm-2 control-label">prophylaxy</label>

      <div class="col-sm-10">
        {{ form_widget(form.prophylaxy) }}
      </div>
    </div>




    {{ form_rest(form) }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {% if form.vars.value.id is null %}
          <button type="submit" class="btn btn-default">Добавить</button>
        {% else %}
          <button type="submit" class="btn btn-default">Сохранить</button>
        {% endif %}
      </div>
    </div>
    </form>
    {% if form.vars.errors|length %}
      <div class="alert alert-danger">
        {{ form_errors(form) }}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
