{% extends app.request.isXmlHttpRequest ? 'AdminClientBundle::ajax.html.twig' : is_granted('IS_AUTHENTICATED_FULLY') ? 'AdminClientBundle::layout.html.twig' : 'AdminClientBundle::default.html.twig' %}

{% block body %}

  <div class="text-right">
    <a href="{{ path('chemistry_add') }}" id="add-vermin-btn" class="btn btn-primary btn-sm">Добавить</a>
  </div>

  {% for chemistry in _chemistry %}
  <div class="content-element">
    <div class="ref-content-name">
      <div class="name-ru">
        {{ chemistry.name }} {% if chemistry.volume %}{{ '(' ~ chemistry.volume ~ 'л.)' }}{% endif %}
        <form id="edit-vermin-btn" style="display: inline-block;" action="{{ path('chemistry_edit', {id: chemistry.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-edit text-info"></span>
        </form>&nbsp;
        <form style="display: inline-block;" action="{{ path('chemistry_delete', {id: chemistry.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </form>
      </div>
    </div>

    <div class="img-content">
      {% if chemistry.image %}
        <a href="/compiled/bundles/admincatalog/images/chemistry/original/{{ chemistry.image }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/chemistry/logo/{{ chemistry.image }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if chemistry.image2 %}
        <a href="/compiled/bundles/admincatalog/images/chemistry/original/{{ chemistry.image2 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/chemistry/logo/{{ chemistry.image2 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if chemistry.image3 %}
        <a href="/compiled/bundles/admincatalog/images/chemistry/original/{{ chemistry.image3 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/chemistry/logo/{{ chemistry.image3 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if chemistry.image4 %}
        <a href="/compiled/bundles/admincatalog/images/chemistry/original/{{ chemistry.image4 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/chemistry/logo/{{ chemistry.image4 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
    </div>


    <div class="ref-content-descr"><strong>{{ 'Действующее вещество:' }} {{ chemistry.substance }}</strong></div>
    <div class="ref-content-descr">{{ chemistry.description }}</div>

    <div class="vermin-labels-name">
      <h5>{{ 'Концентрация препарата на' }} <strong>{{ chemistry.norm }}</strong></h5>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Контролирует вредителей' }}</strong></div>
      <div>
        {% if chemistry.vermins|length %}
          {% for vermin in chemistry.vermins %}
            <div class="small-img-wrap" title="{{ vermin.name }}">
              <div class="small-logo" style="{% if vermin.image %}background-image: url(/compiled/bundles/admincatalog/images/vermin/logo/{{ vermin.image }}){% else %}background-color: #fff{% endif %};"></div>
              <div class="small-name"><strong>{{ vermin.name }}</strong></div>
            </div>
          {% endfor %}
        {% else %}
          {{ 'Ссылка не указана' }}
        {% endif %}
      </div>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Контролирует болезни' }}</strong></div>
      <div>
        {% if chemistry.blights|length %}
          {% for blight in chemistry.blights %}
            <div class="small-img-wrap" title="{{ blight.name }}">
              <div class="small-logo" style="{% if blight.image %}background-image: url(/compiled/bundles/admincatalog/images/blight/logo/{{ blight.image }}){% else %}background-color: #fff{% endif %};"></div>
              <div class="small-name"><strong>{{ blight.name }}</strong></div>
            </div>
          {% endfor %}
        {% else %}
          {{ 'Ссылка не указана' }}
        {% endif %}
      </div>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Производители' }}</strong></div>
      <div>
        {% if chemistry.manufacturers|length %}
          {% for manufacturer in chemistry.manufacturers %}
            <div class="small-img-wrap-tr" title="{{ manufacturer.name }}">
              <div class="small-logo-tr" style="{% if manufacturer.image %}background-image: url(/compiled/bundles/admincatalog/images/manufacturers/logo/{{ manufacturer.image }}){% else %}background-color: #fff{% endif %};"></div>
              <div class="small-name"><strong>{{ manufacturer.name }}</strong></div>
            </div>
          {% endfor %}
        {% else %}
          {{ 'Ссылка не указана' }}
        {% endif %}
      </div>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Видео' }}</strong></div>
      <div>
        {% if chemistry.video %}
          <a href="{{ 'https://www.youtube.com/embed/' ~ chemistry.video }}" target="_blank">
            {{ 'https://www.youtube.com/embed/' ~ chemistry.video }}
          </a>
        {% else %}
          {{ 'Ссылка не указана' }}
        {% endif %}
      </div>
    </div>

    <div class="end-border"></div>
  </div>
  {% endfor %}




  <div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}