{% extends app.request.isXmlHttpRequest ? 'AdminClientBundle::ajax.html.twig' : is_granted('IS_AUTHENTICATED_FULLY') ? 'AdminClientBundle::layout.html.twig' : 'AdminClientBundle::default.html.twig' %}

{% block body %}

  <table class="table table-responsive table-striped table-hover">
    <thead>
    <tr>
      <th>Категория</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Норма внесения в очагах</th>
      <th>Норма внесения превентивно</th>
      <th>Вредители</th>
      <th>Производители</th>
      <th>Фото</th>
      <th class="text-center"><a href="{{ path('entomophage_add') }}" id="add-vermin-btn" class="btn btn-primary btn-sm">Добавить</a></th>
    </tr>
    </thead>
    <tbody>
    {% for entomophage in entomophages %}
      <tr>
        <td>{{ entomophage.category.name }}</td>
        <td>{{ entomophage.name }}</td>
        <td>{{ entomophage.description }}</td>
        <td>{{ entomophage.norm }}</td>
        <td>{{ entomophage.prophylaxy }}</td>
        <td>
          {% for vermin in entomophage.vermins %}
            {{ vermin.name }} {% if entomophage.vermins|length > 1 %}<br>{% endif %}
          {% endfor %}
        </td>
        <td>
          {% for manufacturer in entomophage.manufacturers %}
            {{ manufacturer.name }} {% if entomophage.manufacturers|length > 1 %}<br>{% endif %}
          {% endfor %}
        </td>
        <td>{% if entomophage.image %}
            <a href="/compiled/bundles/admincatalog/images/entomophages/original/{{ entomophage.image }}" target="_blank">
              <img src="/compiled/bundles/admincatalog/images/entomophages/logo/{{ entomophage.image }}" alt="Фото">
            </a>
          {% endif %}
        </td>
        <td class="text-center">
          <nobr>
            <form id="edit-vermin-btn" style="display: inline-block;" action="{{ path('entomophage_edit', {id: entomophage.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
              <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
            </form>&nbsp;
            <form style="display: inline-block;" action="{{ path('entomophage_delete', {id: entomophage.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
              <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
            </form>
          </nobr>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}