{% extends app.request.isXmlHttpRequest ? 'AdminClientBundle::ajax.html.twig' : is_granted('IS_AUTHENTICATED_FULLY') ? 'AdminClientBundle::layout.html.twig' : 'AdminClientBundle::default.html.twig' %}

{% block body %}

  <div class="text-right">
    <a href="{{ path('blight_add') }}" id="add-vermin-btn" class="btn btn-primary btn-sm">Добавить</a>
  </div>

  {% for blight in blights %}
  <div class="content-element">
    <div class="ref-content-name">
      <div class="name-ru">
        <strong>{{ blight.category.name }}</strong>: {{ blight.name }}
        <form id="edit-vermin-btn" style="display: inline-block;" action="{{ path('blight_edit', {id: blight.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-edit text-info"></span>
        </form>&nbsp;
        <form style="display: inline-block;" action="{{ path('blight_delete', {id: blight.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </form>
      </div>
    </div>
    <div class="img-content">
      {% if blight.image %}
        <a href="/compiled/bundles/admincatalog/images/blight/original/{{ blight.image }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/blight/logo/{{ blight.image }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if blight.image2 %}
        <a href="/compiled/bundles/admincatalog/images/blight/original/{{ blight.image2 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/blight/logo/{{ blight.image2 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if blight.image3 %}
        <a href="/compiled/bundles/admincatalog/images/blight/original/{{ blight.image3 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/blight/logo/{{ blight.image3 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if blight.image4 %}
        <a href="/compiled/bundles/admincatalog/images/blight/original/{{ blight.image4 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/blight/logo/{{ blight.image4 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
    </div>
    <div class="ref-content-descr">{{ blight.description }}</div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Пороги вредоносности' }}</strong></div>
      <div>
        <div class="vermin-lights">
          <div class="light"><span class="blue-light"></span></div>
          <div class="vermin-lights-descr">{% if blight.disDescription1 %}{{ blight.disDescription1 }}{% else %}{{ 'Данных нет' }}{% endif %}</div>
        </div>
        <div class="vermin-lights">
          <div class="light"><span class="green-light"></span></div>
          <div class="vermin-lights-descr">{% if blight.disDescription2 %}{{ blight.disDescription2 }}{% else %}{{ 'Данных нет' }}{% endif %}</div>
        </div>
        <div class="vermin-lights">
          <div class="light"><span class="yellow-light"></span></div>
          <div class="vermin-lights-descr">{% if blight.disDescription3 %}{{ blight.disDescription3 }}{% else %}{{ 'Данных нет' }}{% endif %}</div>
        </div>
        <div class="vermin-lights">
          <div class="light"><span class="orange-light"></span></div>
          <div class="vermin-lights-descr">{% if blight.disDescription4 %}{{ blight.disDescription4 }}{% else %}{{ 'Данных нет' }}{% endif %}</div>
        </div>
        <div class="vermin-lights">
          <div class="light"><span class="red-light"></span></div>
          <div class="vermin-lights-descr">{% if blight.disDescription5 %}{{ blight.disDescription5 }}{% else %}{{ 'Данных нет' }}{% endif %}</div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Химические меры борьбы' }}</strong></div>
      <div>
        {% for chemis in blight.chemistry %}
          <div class="small-img-wrap" title="{{ chemis.name }}">
            <div class="small-logo" style="{% if chemis.image %}background-image: url(/compiled/bundles/admincatalog/images/chemistry/logo/{{ chemis.image }}){% else %}background-color: #fff{% endif %};"></div>
            <div class="small-name"><strong>{{ chemis.name }}</strong></div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Видео' }}</strong></div>
      <div>
        {% if blight.video %}
          <a href="{{ 'https://www.youtube.com/embed/' ~ blight.video }}" target="_blank">
            {{ 'https://www.youtube.com/embed/' ~ blight.video }}
          </a>
        {% else %}
          {{ 'Ссылка не указана' }}
        {% endif %}
      </div>
    </div>

    <div class="end-border"></div>
  </div>
  {% endfor %}

  <div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}