{% extends app.request.isXmlHttpRequest ? 'AdminClientBundle::ajax.html.twig' : is_granted('IS_AUTHENTICATED_FULLY') ? 'AdminClientBundle::layout.html.twig' : 'AdminClientBundle::default.html.twig' %}

{% block body %}

  <div class="text-right">
    <a href="{{ path('variety_add') }}" id="add-vermin-btn" class="btn btn-primary btn-sm">Добавить</a>
  </div>

  {% for variety in varieties %}
  <div class="content-element">
    <div class="ref-content-name">
      <div class="name-ru">
        {{ variety.name }}
        <form id="edit-vermin-btn" style="display: inline-block;" action="{{ path('variety_edit', {id: variety.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-edit text-info"></span>
        </form>&nbsp;
        <form style="display: inline-block;" action="{{ path('variety_delete', {id: variety.id}) }}" enctype="application/x-www-form-urlencoded" method="get">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </form>
      </div>
    </div>
    <div class="img-content">
      {% if variety.image %}
        <a href="/compiled/bundles/admincatalog/images/varieties/original/{{ variety.image }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/varieties/logo/{{ variety.image }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if variety.image2 %}
        <a href="/compiled/bundles/admincatalog/images/varieties/original/{{ variety.image2 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/varieties/logo/{{ variety.image2 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if variety.image3 %}
        <a href="/compiled/bundles/admincatalog/images/varieties/original/{{ variety.image3 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/varieties/logo/{{ variety.image3 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
      {% if variety.image4 %}
        <a href="/compiled/bundles/admincatalog/images/varieties/original/{{ variety.image4 }}" target="_blank">
          <img src="/compiled/bundles/admincatalog/images/varieties/logo/{{ variety.image4 }}" alt="Фото" class="ref-content-img">
        </a>
      {% else %}
        <img src="/compiled/bundles/adminclient/images/no_photo_small.png" alt="Фото" class="ref-content-img">
      {% endif %}
    </div>
    <div class="ref-content-descr">{{ 'Урожайность – ' }}<strong>{{ variety.yield ~ 'кг/год' }}</strong></div>
    <div class="ref-content-descr">{{ variety.description }}</div>
    <div class="ref-content-descr">{{ variety.color|capitalize ~ ', ' ~ variety.form|lower }}</div>

    <div class="clear"></div>

    <div class="vermin-labels">
      <div class="vermin-labels-name"><strong>{{ 'Видео' }}</strong></div>
      <div>
        {% if variety.video %}
          <a href="{{ 'https://www.youtube.com/embed/' ~ variety.video }}" target="_blank">
            {{ 'https://www.youtube.com/embed/' ~ variety.video }}
          </a>
        {% else %}
          {{ 'Ссылка не указана' }}{% endif %}</div>
    </div>

    <div class="end-border"></div>
  </div>
  {% endfor %}


  <div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}